.header{
    padding: 20px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header li {
    margin-right: 1rem;
    border-radius: 5px;
}



.link{
    display: block;
    color: black;
    background-color: #f5f5f5;
    font-size: 1.25em;
    padding: 0.5rem 1rem;
    
}


.link:hover{
    background: #ddd;
}

.link.active{
    background: #ddd;
}